/*hero section */
.hero {
  text-align: center;
  min-height: 600px;
  padding-top: 200px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      var(--gradient-color),
      var(--gradient-color)
    ),
    url(../images/hero.jpg);
  background-color: var(--hero-color);
}

.hero-title {
  color: var(--primary-bg-color);
  text-transform: uppercase;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  letter-spacing: 0.06em;
  margin-top: 0;
  margin-bottom: 30px;
}

/*main section */
.section-title {
  color: var(--title-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 50px;
}

.title {
  color: var(--title-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  margin-top: 0px;
  margin-bottom: 10px;
}

.strong-side .title {
  text-transform: uppercase;
}

/*button */

.button {
  color: var(--title-color);
  background-color: var(--bg-secondary-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  border-radius: 4px;
  padding: 6px 22px;
  display: inline-block;
  border: transparent;
}

.button-item:not(:last-child) {
  margin-right: 8px;
}

.list.but {
  display: flex;
  justify-content: center;
  margin-bottom: 34px;
  align-items: flex-start;
}

.button:hover,
.button:focus {
  background-color: var(--accent-color);
  color: var(--primary-bg-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.herobut {
  color: var(--primary-bg-color);
  background-color: var(--accent-color);
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;

  letter-spacing: 0.06em;
  display: block;
  padding-top: 10px;
  padding-left: auto;
  padding-bottom: 10px;
  padding-right: auto;
  width: 200px;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
}

.team {
  background-color: var(--bg-secondary-color);
}

.members .title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.members .position {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.title-card {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: var(--primary-bg-color);
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 32px;
  padding-left: 32px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

/*portfolio*/

.portfolio.list {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--card-set-gap));
  margin-top: calc(-1 * var(--card-set-gap));
}

.portfolio-item {
  flex-basis: calc(100% / 3 - var(--card-set-gap));
  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);
  width: 370px;
}

.portofolio-link {
  display: block;
}

.portofolio-link:hover,
.portofolio-link:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.item-title {
  color: var(--title-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  margin-bottom: 4px;
}

.card-content {
  padding: 20px 24px;
  border-bottom: 1px solid var(--card-border);
  border-right: 1px solid var(--card-border);
  border-left: 1px solid var(--card-border);
}

.portofolio-link {
  display: block;
  text-decoration: none;
}

.portofolio-link:hover,
.portofolio-link:focus {
  box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.25));
}

.item {
  font-size: 16px;
  line-height: 1.8;
  color: var(--primary-text-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section.no-padding {
  padding-top: 0px;
  padding-bottom: 94px;
}

/*.name {
  padding-top: 30px;
}*/

.we-do {
  display: flex;
}

.list-m:not(:last-child) {
  margin-right: 30px;
}

.list-m {
  width: 270px;
}

.item.list-m {
  width: 370px;
}

/*social links section */
.action {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;

  list-style: none;
  margin-top: 16px;
}

.action .icon {
  display: flex;
  border-radius: 54%;
  width: 44px;
  height: 44px;
  padding: 0;
  border: none;
  color: var(--social-icon);
  justify-content: center;
  align-items: center;
}

.action .icon:not(:first-child) {
  margin-left: 10px;
}

.action .icon:hover,
.action .icon:focus {
  background-color: var(--accent-color);
  color: var(--primary-bg-color);
}

.social {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

/*.social:hover,
.social:focus {
  color: var(--primary-bg-color);
}*/

/* Postojannye klienty*/
.mainclient {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 50px;
}

.mainclient .klient {
  height: 90px;
  width: 170px;
  display: flex;
  justify-content: center;

  border: 1px solid var(--social-icon);
  border-radius: 4px;
  align-items: center;
  color: var(--social-icon);
}

/*.mainclient .klient-link {
  display: flex;
  justify-content: center;

  border: 1px solid currentColor;
  border-radius: 4px;
  align-items: center;
}*/

.mainclient .klient:not(:first-child) {
  margin-left: 30px;
}

.mainclient .klient-link {
  color: currentColor;
}

.clientlabel {
  fill: currentColor;
}

.mainclient .klient:hover,
.mainclient .klient:focus {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.strong-svg {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-secondary-color);
  border-radius: 4px;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
}

/* цвет основной текста  #212121*/
/* цвет вторичный текста #757575* 
/* белый*color: #FFFFFF */
/*rgba(236, 236, 236, 1)*/
/*rgba(245, 244, 250, 1)*/
/*rgba(47, 48, 58, 1)*/
/* цвет акцент color: #2196F3*/ ;
